/*
	TODO: make responsive.
*/


.heroContainer {
	width: 100vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20%;
}

.heroStatement {
    font-size: 45px;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	width: 250px;
	justify-content: space-evenly;
	margin-top: 10%;
}

.homeCTAButtons {
	background-color: #7952b3;
	border-color: #7952b3;
	transition: 1s;
}

.homeCTAButtons:hover {
	background-color: #5d3f8a;
	border-color: #5d3f8a;
    color: #E1E8EB;
}

.homeCTAButtons_variant {
	background-color: #e1e8eb;
	border-color: #e1e8eb;
	color: #343a40;
	transition: 1s;
}

.homeCTAButtons_variant:hover {
	background-color: #afb4b6;
	border-color: #afb4b6;
}

.homeCTAButtons::active {
    border-color: red;
}